html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #3b3b3b;
}

input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: none;
  border-color: #0070f3;
}

button {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0060e9;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
  color: black;
}
table tbody tr {
  border: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


table {
  width: 100%;
  table-layout: fixed;
}

tbody {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

tr {
  width: 100%;
}

th,
td {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: black;
} 

.sort-button {
  background-color: transparent;
  border: none;

  padding: 5px 10px;
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: black;
  cursor: pointer;

  transition: transform 0.05s ease-out;
}

.sort-reverse {
  transform: rotate(180deg);
}


.main {
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
} 

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  transition: all .3s;

  @supports ( -webkit backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-background-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.3);
  }
}
   .popup__content {
     position: absolute;
     top: 10%;
     left: 20%;
     transform: translate(-50% -50%);

     width: 60%;
     height: 500px;
     background-color: #fff;
     box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
     border-radius: 3px;
     display: table;
     overflow: hidden;
     transform: translate(-50% -50%) scale(.25);
     transition: all .5s .2s;
    
  } 

  /* .popup__close:link .popup__close:visited {
      color: grey;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
  }

  .popup__close:hover {
    color: #55c57a;
  } */
